@model TicketShop.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Înregistrare";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="mb-3">Creează cont nou</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Nume" class="form-control" placeholder="Nume" />
                <label asp-for="Nume">Nume</label>
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Prenume" class="form-control" placeholder="Prenume" />
                <label asp-for="Prenume">Prenume</label>
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" placeholder="Parola" />
                <label asp-for="Password">Parolă</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmare" />
                <label asp-for="ConfirmPassword">Confirmare</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-lg btn-primary w-100">Înregistrare</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}